In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt
import plotly as py

In [22]:
eco_status_url = 'https://raw.githubusercontent.com/Kittisak-M/Bridging-the-Gap-Enhancing-Life-Quality-in-Thailand/main/data_set/Life%20Expectancy%20Data.csv'

main_data = 'https://github.com/Kittisak-M/Bridging-the-Gap-Enhancing-Life-Quality-in-Thailand/raw/main/data_set/world_bank_open_data.csv'

In [23]:
eco_status = pd.read_csv(eco_status_url)

data = pd.read_csv(main_data)

ParserError: Error tokenizing data. C error: Expected 16 fields in line 5593, saw 18

In [7]:
ct_status = eco_status[['Country', 'Status']].drop_duplicates().reindex()

In [10]:
# Change ecostatus to float
ct_status['Status'] = ct_status['Status'].replace('Developing',0)
ct_status['Status'] = ct_status['Status'].replace('Developed',1)

                                 Country Status
0                            Afghanistan      1
16                               Albania      1
32                               Algeria      1
48                                Angola      1
64                   Antigua and Barbuda      1
...                                  ...    ...
2858  Venezuela (Bolivarian Republic of)      1
2874                            Viet Nam      1
2890                               Yemen      1
2906                              Zambia      1
2922                            Zimbabwe      1

[193 rows x 2 columns]

In [17]:
ct_status['Status'].unique()

array([1, 'Developed'], dtype=object)